{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>权限名</th>
<th>模块</th>
<th>是否更细粒度</th>
<th>操作</th>
{% endblock theader %}

{% block tbody %}
{% for permission in pagination.items %}
<tr class="table-active">
    <th>{{ permission.id }}</th>
    <th>{{ permission.name }}</th>
    <th>{{ permission.endpoint }}</th>
    <th>{{ permission.need_granularity }}</th>
    <th><a type="btn-link" href="{{ url_for('auth.permission_update', id=permission.id) }}">编辑权限</a></th>
</tr>
{% endfor %}
{% endblock tbody %}
