{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>角色名</th>
<th>部门</th>
<th>操作</th>
<th>权限</th>
{% endblock theader %}

{% block tbody %}
{% for role in pagination.items %}
<tr class="table-active">
    <th>{{ role.id }}</th>
    <th>{{ role.name }}</th>
    <th>{{ role.department }}</th>
    <th>{% for permission in role.permission_list %}{{ permission.__repr__() }}{% endfor %}</th>
    <th><a type="btn-link" href="{{ url_for('auth.role_update', id=role.id) }}">编辑权限</a></th>
    <th><a type="btn-link" href="#">删除角色</a></th>
</tr>
{% endfor %}
{% endblock tbody %}
