{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>入口</th>
<th>路径</th>
<th>方法</th>
<th>状态码</th>
<th>请求</th>
<th>响应</th>
<th>备注</th>
<th>更新时间</th>
<th>操作</th>
{% endblock theader %}

{% block tbody %}
{% for package in pagination.items %}
<tr class="table-active">
    <th>{{ package.id }}</th>
    <th>{{ package.entrance }}</th>
    <th>{{ package.path }}</th>
    <th>{{ package.method }}</th>
    <th>{{ package.status }}</th>
    <th>{{ package.request }}</th>
    <th>{{ package.response }}</th>
    <th>{{ package.remarks}}</th>
    <th>{{ package.update_time }}</th>
    <th>
        <a type="btn-link" href="{{ url_for('web.package_info', id=package.id) }}">查看包详情</a>
        <a type="btn-link" href="{{ url_for('web.package_update', id=package.id) }}">备注包</a>
    </th>
</tr>
{% endfor %}
{% endblock tbody %}