{% extends 'function/base.html' %}
{% block center %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      {% for heading in headings %}
      <th>{{ heading }}</th>
      {% endfor %}
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for content in contents %}
    <tr>
        {% for heading in headings %}
        <td>{{ content[heading] }}</td>
        {% endfor %}
        <td>
            <div class="btn-group">
                <a class="btn btn-danger btn-xs" href="{{ url_for('function.edit', permission=content['permission']) }}" target="_blank">修改</a>
                <a class="btn btn-danger btn-xs" href="{{ url_for('function.delete', permission=content['permission']) }}">删除</a>
                <a class="btn btn-danger btn-xs" href="">查看功能</a>
        </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock center %}