<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="flase">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Francium</a>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                {% if session.token_id %}
                <li><a href="{{ url_for('article.home', page=1) }}"><i class="icon-pencil"></i> article</a></li>
                <li><a href="{{ url_for('admin.logout') }}"><i class="icon-coffee"></i> Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>