{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>命名</th>
<th>描述</th>
<th>主机</th>
<th>操作</th>
{% endblock theader %}

{% block tbody %}
{% for domain in pagination.items %}
<tr class="table-active">
    <th>{{ domain.id }}</th>
    <th>{{ domain.name }}</th>
    <th>{{ domain.description }}</th>
    <th>{% for host in domain.host_list %}{{ host.__repr__() }}{% endfor %}</th>
    <th><a type="btn-link" href="{{ url_for('assets.domain_update', id=domain.id) }}">编辑域名</a></th>
</tr>
{% endfor %}
{% endblock tbody %}