{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>IP</th>
<th>命名</th>
<th>描述</th>
<th>状态</th>
<th>域名</th>
<th>服务</th>
<th>操作</th>
{% endblock theader %}

{% block tbody %}
{% for host in pagination.items %}
<tr class="table-active">
    <th>{{ host.id }}</th>
    <th>{{ host.ip }}</th>
    <th>{{ host.name }}</th>
    <th>{{ host.description }}</th>
    <th>{{ host.status }}</th>
    <th>{% for domain in host.domain_list %}{{ domain.__repr__() }}{% endfor %}</th>
    <th>{% for service in host.services %}{{ service.__repr__() }}{% endfor %}</th>
    <th><a type="btn-link" href="{{ url_for('assets.host_update', id=host.id) }}">编辑主机</a></th>
</tr>
{% endfor %}
{% endblock tbody %}