{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>IP</th>
<th>端口</th>
<th>通道</th>
<th>协议</th>
<th>状态</th>
<th>服务</th>
<th>命名</th>
<th>描述</th>
<th>操作</th>
{% endblock theader %}

{% block tbody %}
{% for service in pagination.items %}
<tr class="table-active">
    <th>{{ service.id }}</th>
    <th>{{ service.host.ip }}</th>
    <th>{{ service.port }}</th>
    <th>{{ service.tunnel }}</th>
    <th>{{ service.protocol }}</th>
    <th>{{ service.state }}</th>
    <th>{{ service.service }}</th>
    <th>{{ service.name }}</th>
    <th>{{ service.description }}</th>
    <th>
        <a type="btn-link" href="{{ url_for('assets.service_update', id=service.id) }}">编辑服务</a>
    </th>
</tr>
{% endfor %}
{% endblock tbody %}