{% extends 'extends/_table.html' %}

{% block theader %}
<th>UUID</th>
<th>类型</th>
<th>时间类型</th>
<th>开始时间</th>
<th>结束时间</th>
<th>状态</th>
<th>描述</th>
<th>目标</th>
<th>操作</th>
{% endblock theader %}

{% block tbody %}
{% for task in pagination.items %}
<tr class="table-active">
    <th>{{ task.id }}</th>
    <th>{{ task.func_type }}</th>
    <th>{{ task.time_type }}</th>
    <th>{{ task.start_time }}</th>
    <th>{{ task.end_time }}</th>
    <th>{{ task.status }}</th>
    <th>{{ task.description }}</th>
    <th>{{ task.targets }}</th>
    <th>{% for task in task.host_list %}{{ host.__repr__() }}{% endfor %}</th>
    <th><a type="btn-link" href="{{ url_for('tasks.info', id=task.id) }}">查看详细</a></th>
</tr>
{% endfor %}
{% endblock tbody %}
