<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% block metas %}
    {% endblock metas %}

    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="bookmark" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style type="text/css">
        body {
            padding-top: 70px;
        }
        img {
            max-width: 100%;
        }
    </style>
    {% endblock styles %}
    {% endblock head %}

</head>
<body>
{% block body %}
{% block navbar %}
{% include 'includes/_navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container">
    {% block header %}
    {% endblock header %}

    {% block center %}
    {% endblock center%}

    {% block footer %}
    {% include 'includes/_footer.html' %}
    {% endblock footer %}
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
 <!--jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
 <!--最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock scripts %}
{% endblock body %}
</body>
</html>