{% macro pagination_widget(pagination, endpoint, kwargs) %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="page-item disable"{% endif %}>
        <a class="page-link" href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active page-item">
                <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled page-item"><a class="page-link" href="#">&hellip;</a> </li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disable page-item"{% endif %}>
    <a class="page-link" href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
        &raquo;
    </a>
    </li>
</ul>
{% endmacro %}