<table class="table table-hover">
    <thead>
        <tr>
            {% for theader in theaders %}
                <th>{{ theader }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for tbody in pagination.items %}
        <tr class="table-active">
            {% for theader in theaders %}
                <th>{{ tbody[theader] }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% import 'macros/_pagination.html' as macros %}
    {{ macros.pagination_widget(pagination, url) }}
</div>
