<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock metas %}

    <title>{% block title %}{{ title }} | Francium{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="bookmark" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

    {% block styles %}
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vs.css') }}"/>
    <style type="text/css">
        body {
            padding-top: 70px;
        }
        img {
            max-width: 100%;
        }
    </style>
    {% endblock styles %}
    {% endblock head %}

</head>
<body>
{% block body %}
{% block navbar %}
{% include 'includes/_navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container">
    {% block header %}
    {% endblock header %}
    {% block center %}
    {% endblock center%}
    {% block footer %}
    {% include 'includes/_footer.html' %}
    {% endblock footer %}
</div>
{% endblock content %}

{% block scripts %}
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock scripts %}
{% endblock body %}
</body>
</html>
